.page {
  height: 100%;
}

.ask-title {
    
}

.ask {
  width: 100%;
  max-width: 1264px;
  margin-top: 24px;
}

.ask-box {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.27);
}
