.list {
  border-top: 1px solid #c3c3c3;
  padding: 24px 0;
}

.answer-item {
  display: flex;
  flex-direction: row;
  padding: 24px 0;
}

.tab {
  border-top: 3px solid #3c55e0;
  border-radius: 3px;
}