<div class="mt-6">
  <h2>
    <span class="tab">
      回答
    </span>
  </h2>
  <div class="list">
    <nz-pagination [nzPageIndex]="index" [nzPageSize]="20" [nzTotal]="totalSize" [nzSize]="'small'"
      (nzPageIndexChange)="changeIndex($event)"></nz-pagination>

    <div class="answer-item" *ngFor="let answer of answers">
      <app-vote [votes]="answer.votes" [id]="answer.id"></app-vote>
      <div>
        {{answer.content}}
      </div>
    </div>

    <nz-pagination [nzPageIndex]="index" [nzPageSize]="20" [nzTotal]="totalSize" [nzSize]="'small'"
      (nzPageIndexChange)="changeIndex($event)"></nz-pagination>
  </div>
</div>
