.page {
  height: 100%;
  margin-top: 200px;
}

.register-logo {
  margin: auto;
  text-align: center;
  margin-bottom: 48px;
}

.register {
  max-width: 400px;
  margin: auto;
  padding: 24px 24px 0px 24px;
  border: 1px solid #808080;
  border-radius: 5px;
}
