<div class="left-side-container">
  <span class="side-nav">导航</span>
  <ul class="h100">
    <li class="h100 nav">
      <a class="h100 nav-link" [routerLink]="['/questions']" routerLinkActive="nav-active">
        提问列表
      </a>
    </li>
    <li class="h100 nav">
      <a class="h100 nav-link" [routerLink]="['/targets']" routerLinkActive="nav-active">
        标签
      </a>
    </li>
    <li class="h100 nav">
      <a class="h100 nav-link" [routerLink]="['/users']" routerLinkActive="nav-active">
        用户
      </a>
    </li>
  </ul>
</div>
