.left-side-container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  height: 100%;
  border-right: 1px solid #808080;
}

.side-nav {
  margin: 14px 0;
}

.nav {
  height: 36px !important;
}

.nav-link {
  display: block;
  color: #131415;
  padding: 8px 6px 8px 24px;
  margin-left: -12px;
}

.nav-active {
  font-weight: bold;
  background: rgba(12, 13, 14, 0.05);
  color: #0c0d0e;
  border-right: 3px solid #3c55e0;
}
