.logo {
  padding: 0 .5rem;
}

.header-top {
  display: flex;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(60, 65, 70, 0.1);
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  padding: 7px 0;
  background-color: #fafafb;
  transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
  height: 50px;
  box-sizing: border-box;
  border-top: 3px solid #3f51b5;
}

.top-bar>.bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar>.logo {
  display: flex;
}

.bar>.actions {
  display: flex;
}

.search-box {
  flex-grow: 1;
  max-width: 1000px;
  margin-right: 24px;
}

.content {
  margin-top: 50px;
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 32px 12px 12px 12px;
  display: flex;
  flex-flow: row wrap;
  background-color: #242729;
  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  border-top: 0;
  background-size: auto;
  color: #6a737c;
}
