<div class="content">
  <div class="title-bar">
    <div class="title">
      <h1>{{detail.title}}</h1>
    </div>
    <a routerLink="/ask" class="ask" nz-button nzType="primary">我要提问</a>
  </div>
  <div class="info">
    <span class="info-key">提问于：</span>{{detail.createDate}}&nbsp;&nbsp;
    <span class="info-key">最后活跃于：</span>{{detail.active}}&nbsp;&nbsp;
    <span class="info-key">浏览：</span>{{detail.viewed}}次&nbsp;&nbsp;
  </div>
  <hr>
  <div class="post-detail">
    <app-vote [votes]="detail.votes"></app-vote>
    <div class="w100">
      {{detail.description}}
      <div class="sub mt-6">
        <app-tags [tags]="detail.tags"></app-tags>
        <app-user-tag class="user-tag" [userInfo]="detail.user"></app-user-tag>
      </div>
    </div>
  </div>
  <app-question-answers [answers]="detail.answers"></app-question-answers>
  <app-your-answer [questionId]="id"></app-your-answer>
</div>
