<div class="content">
  <div class="title-bar">
    <div class="title">
      <h1>{{detail.title}}</h1>
    </div>
    <button class="ask" nz-button nzType="primary">我要提问</button>
  </div>
  <div class="info">
    <span class="info-key">提问于：</span>{{detail.createDate}}&nbsp;&nbsp;
    <span class="info-key">最后活跃于：</span>{{detail.active}}&nbsp;&nbsp;
    <span class="info-key">浏览：</span>{{detail.viewed}}次&nbsp;&nbsp;
  </div>
  <hr>
  <div class="post-detail">
    <div class="vote">
      <div class="up"></div>
      <h2 class="number">{{detail.votes}}</h2>
      <div class="down"></div>
    </div>
    <div class="description">
      {{detail.description}}
      <div class="mt-6">
        <app-tags [tags]="detail.tags"></app-tags>
      </div>
      <app-user-tag [userInfo]="detail.user"></app-user-tag>
    </div>
  </div>
</div>
