<app-search-bar></app-search-bar>
<div class="search-result" *ngFor="let result of searchList">
  <div>
    <div class="statistics">
      <div class="statis text-center mb-12">
        <strong>{{result.votes}}</strong>
        <p>赞同</p>
      </div>
      <div class="statis text-center mb-12">
        <strong>{{result.answers}}</strong>
        <p>回答</p>
      </div>
    </div>
    <div class="text-center mr-12">
      <small>
        {{result.views}} 次浏览
      </small>
    </div>
  </div>
  <div class="description">
    <div class="title">
      <h3>
        <a [routerLink]="[result.id, result.title]">{{result.title}}</a>
      </h3>
    </div>
    <div class="desc">{{result.description}}</div>
    <div class="actions mt-6">
      <app-tags [tags]="result.targets"></app-tags>
      <div class="user">
        <div>
          <span class="date-time">提问与: {{result.askTime}}</span>
          <app-user-tag [userInfo]="result.asker"></app-user-tag>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pagcination mtb-12">
  <nz-pagination [nzPageSize]="20" [nzTotal]="totalSize" (nzPageIndexChange)="changeIndex($event)"></nz-pagination>
</div>
