* {
  color: #000;
}

html {
  font-size: 13px;
  line-height: 1.26666667;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: none;
  background-position: top left;
  background-repeat: repeat;
  background-size: auto;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.h100 {
  height: 100% !important;
}

.w100 {
  width: 100% !important;
}

.btn-primary {
  min-width: 51px;
  padding: .3rem .8rem;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #fff !important;
  background-color: #3c55e0;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.4);
  text-align: center;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #3043ad;
}

.btn-default {
  min-width: 51px;
  padding: .3rem .8rem;
  border: 1px solid #3c55e0;
  border-radius: 3px;
  color: #3c55e0 !important;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.4);
  text-align: center;
  text-decoration: none;
}

.btn-default:hover {
  background-color: #eaedff;
}

.btn-danger {
  min-width: 51px;
  padding: .3rem .8rem;
  border: 1px solid red;
  border-radius: 3px;
  color: #fff !important;
  background-color: #ff3737;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.4);
  text-align: center;
  text-decoration: none;
}

.btn-danger:hover {
  background-color: #d22a2a;
}

button[disabled], a[disabled] {
  cursor: not-allowed !important;
  color: rgba(0, 0, 0, .25) !important;
  background-color: #f5f5f5 !important;
  border-color: #d9d9d9 !important;
  text-shadow: none !important;
  box-shadow: none !important;
}
