body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-image: none;
  background-position: top left;
  background-repeat: repeat;
  background-size: auto;
}

.container {
  max-width: 1264px;
  width: 100%;
  background: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 0px;
}

.h100 {
  height: 100% !important;
}

.w100 {
  width: 100% !important;
}

.of-x-hidd {
  overflow-x: hidden;
}

.plr-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

/*
  响应式
*/
.-sm {
  display: none;
}

.-md {
  display: none;
}

@media screen and (max-width: 768px) {
  .-sm {
    display: block;
  }

  .-md {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .-sm {
    display: none;
  }

  .-md {
    display: block;
  }
}
